.box{
  
}

.box .item {
  display: inline-block;
  margin: 5px;
}

.box .item iframe {
  width: 42vw;
  max-width: 800px;
  height: 30vw;
  max-height: 560px;
  margin: 0px;
  padding: 0px;
}
